<!-- <div class="fit-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/carousel/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/carousel/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/carousel/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/carousel/4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->
<div class="page-container">
    <div class="d-flex flex-wrap">
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/lipbalm/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../lip-balm">Browse LipBalms</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/mosturizer/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../moisturizer">Moisturizers</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/hair-care/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../hair-care">Browse Hair Care</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/cleanser/a (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../cleanser">Browse cleansers</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/sunscreen/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../sunscreen">Sunscreen</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/toner/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../toner">Browse Toner</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/products/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../brushes">Browse Brushes</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/products/lipsticks/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../lipsticks">Browse Lipsticks</button>
            </div>
        </div>
    </div>
</div>